/* GLOBAL */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffd6e0, #fff1f5);
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

/* CARD */
.card {
  background: white;
  padding: 30px;
  border-radius: 25px;
  width: 90%;
  max-width: 350px;
  position: relative;
  box-shadow: 0 15px 40px rgba(255, 105, 135, 0.3);
}

h1 {
  font-size: 32px;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

button {
  padding: 15px 35px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: #ddd;
  color: black;
}

.shake {
  animation: shake 0.3s infinite;
}

@keyframes shake {
  0% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(-5deg); }
}

/* MOBILE */
@media (max-width: 600px) {
  .buttons {
    gap: 15px;
  }

  button {
    padding: 12px 25px;
  }
}

@keyframes floatUp {
  to {
    transform: translateY(-200px);
    opacity: 0;
  }
}

